@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);h1 {
  text-align: center;
  color: #261e5e;
  font-weight: bold;
  font-family: monospace;
}

.wrapper-btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-3 {
  margin-bottom: 5%;
}

.row {
  margin: auto;
}

.card {
  font-weight: bold;
  font-family: monospace;
  color: #1c1740;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.35rem;
  }

  .search-input {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: x-small;
  }

  .amount {
    width: 25px;
    font-size: 0.6rem;
    display: inline-block;
    padding: 0;
    text-align: center;
  }

  .card {
    width: 120px;
    font-size: x-small;
    margin-bottom: 8%;
  }

  .title-part {
    padding: 1rem;
  }

  .card-title {
    font-size: x-small;
    margin: 0.5rem;
  }

  .img-fluid {
    width: 100px;
    margin: auto;
  }

  .btn {
    width: 80%;
    font-size: xx-small;
    padding: 0;
    margin: 8px;
  }

  .list-group-item {
    padding: .3rem 0.3rem;
  }

  .card-body {
    padding: .2rem;
  }

  .table {
    font-size: xx-small;
  }

  .table td,
  .table th {
    padding: 3px;
  }

  /*  .btn-cart {
    margin: 8px;
  }*/

  .total-price {
    font-weight: bold;
    font-family: monospace;
    color: #1c1740;
    font-size: x-small;
  }
}

@media (min-width: 992px) {
  h1 {
    margin: 3rem;
  }

  .search-input {
    width: 30%;
    text-align: center;
    margin: 40px auto 40px auto;
  }

  .btn {
    width: 70%;
    margin: 10%;
  }

  .amount {
    width: 75px;
    display: inline-block;
    text-align: center;
  }

  .btn-amount {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .table {
    width: 80%;
    margin: auto;
  }

  .row {
    width: 85%;
    margin: auto;
  }

  .card {
    width: 18rem;
    font-size: medium;
    margin-bottom: 15%;
    z-index: 1;
  }

  .card:hover {
    border: 3px solid #261e5e;
  }

  .card-title {
    font-size: xx-large;
  }

  .img-fluid {
    width: 180px;
    margin: auto;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    z-index: 2;
  }

  .img-fluid:hover {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    z-index: 3;
  }

  .price-amount {
    z-index: -2;
  }

  .total-price {
    font-weight: bold;
    font-family: monospace;
    color: #1c1740;
    font-size: xx-large;
    text-indent: 10%;
    margin-top: 30px;
  }
}

/*// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

